
@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root{

    --primary-color:black;
    --background-color:white;
    --accent-color:#ede9fe;
}



.nav-icon{
    font-size:2rem;
}
/* for navbar heading and the icons insie it */
.heading{
    background-color: var(--background-color);
 padding: 2rem 3rem;
 color: var(--primary-color);
 border-bottom: 1px solid var(--accent-color);
}
 
.card-vertical{
    width: 16rem;
    
    
}

.card-image-container{
    width: 100%;
    height: 260px;
    
}
.card-image{
height: 100%;
object-fit:contain;
}

.card-price{
    gap: 4px;
}
/* for products listing */
.products-page{
    z-index:1;
    
    
}
/* .card{
   
    height: 500px;
    width: 300px;
  
    align-items: center;
  margin: 25rem;
} */
/* for search bar */
.searcher{
    width:18rem;
    padding-left:2rem; 
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);

}

.card-horizontal{
    margin-top:1rem ;
    margin-left: 2rem;
    position: relative;
    
}

.main2{
 position:absolute;
 right:1.5rem;
 top: 13.5rem;
  
}
.final-price{
background-color: var(--accent-color);
width: 25rem;

}



.heading-2{
    margin-top: 2rem ;
    margin-left: 2rem;
}

.justify-space-between{
    justify-content: space-between;
}

.side-bar{
  
    width: 20rem;
    position: fixed;
    
}

.products-page{
    margin-left: 22rem;
    margin-top: 2rem;
}
.heading-3{
    padding-left: 2rem;
    font-size: 2rem;
}

.heading-4{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    
}
.filter-container{
    padding-left: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.filter-radio{
  height:1.6em;
  width: 1.6rem;
}
.filter-label{
    font-size: 1.3rem;
}